* ,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topnav {
  background-color: rgba(231, 179, 101, 0.85);
  display: flex;

  justify-content: space-between;
  align-items: center; /* vertikalt */
  gap: 15px;
  padding: 15px 40px;
  
}
.logo {
    font-family: "Baloo 2", sans-serif; /*ändra font i logon*/
    font-size: 1.8rem;
    letter-spacing: 1px;
    margin-right: 20px;

}

.topnav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-left: auto; 
}

.topnav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: rgba(255,255,255,0.5);
    padding: 6px 10px;
    border-radius: 6px;
    
}
.hero {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url(../img/zoo.jpg);
    background-size: cover;
    background-position: center top 25%;
  
}

.hero h2 {
    text-shadow: 0 3px 10px rgba(0,0,0,0.7);
    font-size: clamp(1.5rem, 3vw, 2rem); /* minst 1.5rem, växer med skärmstorlek, max 2rem*/
    letter-spacing: 1px;
    color: rgb(213, 185, 58);
    margin-bottom: 5px;
}